<?xml version="1.0"?>

<launch>
  <!--  OBS: change 'world_name' and 'path' -->
  <arg name="world_name" value="nav_challenge"/>
  <arg name="path" value="~"/>

  <!-- Simulation. Aruco for detect and publish markers-->
  <include file="$(find dd2419_simulation)/launch/simulation.launch">
    <arg name="world_name" default="$(arg world_name)"/>
    <arg name="gui" default="false"/>
  </include>
  <include file="$(find dd2419_simulation)/launch/aruco.launch"/>

  <!-- Flight camp  -->
  <!-- <node pkg="planning" type="mission_planning" name="Mission_Planner"/>
  <node pkg="planning" type="path_planning" name="Path_Planner"/> -->
  <!-- <node pkg="planning" type="localization_placeholder" name="Loc_placeholder"/>
  <node pkg="planning" type="drone_placeholder" name="Drone_placeholder"/> -->

  <!-- Transform map -> cf1/odom    -->
  <arg name="map" value="map"/>
  <arg name="odom" value="cf1/odom"/>
  <arg name="map2odom" value="0 0 0 0 0 0"/>
  <node pkg="transforms" type="br_static_transforms" name="br_map2odom" args="$(arg map) $(arg odom) $(arg map2odom)" respawn="true"/>

  <!-- Transform cf1/base_link -> camera_link    -->
  <arg name="base" value="cf1/base_link"/>
  <arg name="camera" value="camera_link"/>
  <arg name="base2cam" value="0.01 0 0.02 -1.57079632679 0 -1.57079632679"/>
  <node pkg="transforms" type="br_static_transforms" name="br_base2cam" args="$(arg base) $(arg camera) $(arg base2cam)" respawn="true"/>

  <!-- <node pkg="localization" type="localization" name="Localization"/> -->

  <!--  rviz -->
  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find planning)/rviz_config/project.rviz"/>
</launch>
